.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  button {
    width: 280px;
    display: flex;
    justify-content: center;
  }
}
.register-title {
  font-size: 40px;
  font-weight: 700;
  color: #4a4a4a;
  margin: 12px;
}
