.register-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-inputs{ 
  margin: 2px;
}
.register-button {
  margin: 2px;
}