.dashboard-title {
  font-size: 40px;
  font-weight: 700;
  color: #4a4a4a;
  margin: 12px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}