.patient-record-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100px;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  margin: 6px;
  padding: 6px;
}